@font-face {
  font-family: 'DINNeuzeitGroteskStd-Light';
  src: url('../global/fonts/DINNeuzeitGroteskStd-Light.eot'); /* IE9 Compat Modes */
  src: url('../global/fonts/DINNeuzeitGroteskStd-Light.woff2') format('woff2'), /* Super Modern Browsers */
       url('../global/fonts/DINNeuzeitGroteskStd-Light.woff') format('woff'), /* Pretty Modern Browsers */
       url('../global/fonts/DINNeuzeitGroteskStd-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
}

html {
  font-family: 'DINNeuzeitGroteskStd-Light', sans-serif;
}

body {
  margin: 0;
}
